<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Maha Vihara</title>

  <!-- Custom fonts for this template-->
  <link href="js/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  

  <link rel="manifest" crossorigin="use-credentials" href="manifest.json">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    </style>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home.html">
        <div>
          <i class="fas fa-home"> Welcome</i>
        </div>
       
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Menu
      </div>

      <li class="nav-item">
        <a class="nav-link" href="kebaktian.html">
          <span>- Jadwal Kebaktian</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages1" aria-expanded="true" aria-controls="collapsePages">
          <span>- Event</span>
        </a>
        <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="list_event.html">Daftar Event</a>
            <a class="collapse-item" href="googlecalendar.html">View Calendar </a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2" aria-expanded="true" aria-controls="collapsePages">
          <span>- Sekolah Minggu</span>
        </a>
        <div id="collapsePages2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="pendaftaran_sm.html">Pendaftaran Sekolah Minggu</a>
            <a class="collapse-item" href="daftar_pengumuman_sm.html">Daftar Pengumuman</a>
            <a class="collapse-item" href="list_nilai.html">Daftar Nilai</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages3" aria-expanded="true" aria-controls="collapsePages">
          <span>- Diklat</span>
        </a>
        <div id="collapsePages3" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="daftar_diklat.html">Daftar Diklat</a>
            <div class="collapse-divider"></div>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages4" aria-expanded="true" aria-controls="collapsePages">
          <span>- Donasi</span>
        </a>
        <div id="collapsePages4" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="donasi.html">Donasi</a>
            <a class="collapse-item" href="list_donasi.html">History Donasi</a>
            
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages5" aria-expanded="true" aria-controls="collapsePages">
          <span>- Rekap Dharma Rohani</span>
        </a>
        <div id="collapsePages5" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="daftar_dharma.html">Daftar Dharma</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="pernikahan.html">
          <span>- Pemberkatan Pernikahan</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages6" aria-expanded="true" aria-controls="collapsePages">
          <span>- Market</span>
        </a>
        <div id="collapsePages6" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="listbarang.html">Daftar Barang</a>
            <a class="collapse-item" href="cart.html">Cart</a>
            <a class="collapse-item" href="list_horder.html">Daftar Order</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages7" aria-expanded="true" aria-controls="collapsePages">
          <span>- Konsultasi</span>
        </a>
        <div id="collapsePages7" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="ask_chat.html">Ajukan Pertanyaan</a>
            <a class="collapse-item" href="list_chat.html">Daftar Konsultasi</a>
          </div>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="berita.html">
          <span>- Berita</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-3">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter" id="call">1</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Notification
                </h6>
                <div id="template" style="display:none">
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="font-weight-bold">
                      <div class="text-truncate">xContent</div>
                      <div class="small text-gray-500">xJudul</div>
                    </div>
                  </a>
                </div>
                <div  id="containerNotif">
                  
                </div>
               
              </div>
            </li>

           
            <!-- Nav Item - User Information -->
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${halo}">Nama</span>
                <img src="../img/logout.jpg" width="40" height="40">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="h4 mb-0 text-gray-800">Maha Vihara dan Pusdiklat Buddha Maitreya</h4>
          </div>
          <div th:if="${param.success}">
            <div class="alert alert-info">Pendaftaran Berita Berhasil</div>
          </div>
       
          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-md-12">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Image</h6>
                </div>
                <div class="card-body">
                  <div id="demo" class="carousel slide" data-ride="carousel">
 
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                      <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../img/budha.jpg" alt="Gambar - 1" width="300" height="300">
                      </div>
                      <div class="carousel-item">
                        <img src="../img/download.jpg" alt="Gambar - 2" width="800" height="300">
                      </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </a>
                  </div>
                </div>
              </div>

              <!--Second Part-->
              <div class="card shadow mb-4">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">About Us</h6>
                    <div class="card-body">
                      <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <span style="font-size:small">Maha Vihara dan Pusdiklat Buddha Maitreya merupakan tempat ibadah umat Buddha Maitreya, sekaligus juga pusat Pendidikan dan pelatihan agama Buddha Maitreya. Berlokasi di Jalan Dukuh Kupang Utara 1 No.2-4, Surabaya. Secara umum Maha Vihara ini memiliki ruang ibadah/altar utama, ruang dharma, ruang untuk pemberkatan pernikahan, kantin vegetarian, penginapan dan berbagai macam diklat. Sebagai pusat ibadah terbesar di Surabaya, terdapat macam-macam kegiatan seperti Pendidikan agama Buddha, taman kanak-kanak, cooking class vegan, kelas sekolah minggu Buddha Maitreya, dan kelas dharma agama Buddha setiap bulaannya.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Third Part-->
              <div class="card shadow mb-4">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Location</h6>
                    <div class="card-body">
                      <iframe class="col-lg-12 col-md-12 col-sm-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.690730925266!2d112.70831481423782!3d-7.275988394748236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fc06604e92c9%3A0xa991242e3eebd388!2sMaha%20Vihara%20dan%20Pusdiklat%20Buddha%20Maitreya!5e0!3m2!1sid!2sid!4v1587996663482!5m2!1sid!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <p>Posted by Maha Vihara dan Pusdiklat Buddha Maitreya Team</p>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <button onclick="exit()" class="btn btn-primary" href="#">Logout</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="js/jquery/jquery.min.js"></script>
  <script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="js/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="js/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
  
  
  <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register("sw.js")
          .then((registrations) => { 
             console.log(`service worker registered succesfully ${registrations}`) 
          })
          .catch((err) => {
              console.log(`Error registring ${err}`) 
          })
  } else {
  console.log(`Service worker is not supported in this browser.`)
  }

  </script>

  <script>
    function exit(){
    if('serviceWorker' in navigator) {
       navigator.serviceWorker.getRegistrations().then(function(registrations){
         for(let registrationn of registrations){
            registrationn.unregister()
          }
        })
    }
      location.replace("logout.html");
    }
  </script>


  <script>
    function checkAjax()
    {
      $.ajax({
            type: "GET",
            url: "http://localhost:3000/service",
            dataType:"json",
            success : function(data){
              //console.log(data);
              $("#call").html(data.length+"");
              $("#containerNotif").html("");
              for (var i=0;i<data.length;i++)
              {
                var detail=data[i];
                console.log(detail);

                var template=$("#template").html();
                template=template.replace("xContent",detail[2]);
                template=template.replace("xJudul",detail[3]);
                $("#containerNotif").append(template);
              }

            }
        });
    }

    var myVar = setInterval(function()
    {checkAjax();}, 3000);

  </script>
  

  

</body>

</html>
